body {
	font-family: monospace;
	margin: 0px;
}

h1, h2, h3 {
	color: #616161;
}

main {
	padding: 20px;
}

.barra-header {
	background-color: #deffe7;
	border-bottom: 2px solid #d3d3e6;
	text-align: right;
	padding: 10px;
	padding-bottom: 0px;
}

.ui-datagrid-column {
	width: 33%;
}

.no-border .ui-panelgrid .ui-panelgrid-cell {
	border: none;
}

.no-border .ui-widget-content {
	border: none;
}

.panel-centrado {
	margin: auto;
	width: 300px;
	border: 1px solid #d8d8d8;
	border-radius: 5px;
	box-shadow: 4px 4px 10px #cecece;
	margin-top: 15px;
	padding: 40px;
	background-color: white;
}

.ui-button {
	background: #2ea3f2;
	border: none;
	color: white;
	box-shadow: none;
}

.ui-button .ui-button-text {
	padding: 10px;
}

.elemento-panel {
	margin-top: 8px;
	margin-bottom: 8px;
}

.ui-inputfield {
	box-shadow: none;
}

.box {
	display: flex;
	align-items: center;
}

.title {
	margin-left: 20px;
	font-size: 1.7em;
	color: #008fbc;
	font-weight: bold;
	border-bottom: 3px solid #008fbc;
	font-style: italic;
}

.logout-link {
	background-color: #5a5a5a;
	border: 1px solid #5a5a5a;
	color: white;
	padding: 8px;
	padding-top: 16px;
	border-radius: 15px;
}

.logout-link:hover {
	background-color: white;
	color: #008fbc;
	border: 1px solid #008fbc;
}

body .ui-paginator .ui-paginator-rpp-options {
	margin-top: 8px;
	border: 1px solid #c3c2c2;
}

.ui-paginator .ui-paginator-rpp-options {
	margin-top: 8px;
	border: 1px solid #c3c2c2;
}